*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-family: tahome, sans-serif;
}
.touching *:not(.player){
    pointer-events: none;
}
.player{
    width: 750px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff;
}
#image{
    float: left;
    width: 40%;
    position: relative;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/mk-player.png");
}
#bz{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: #ffffff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
}
.bz1{
    background-color: rgba(0,0,0,0);
    border: 5px solid rgb(172, 236, 230);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
}
.bz2{
    background-color: rgba(0,0,0,0);
    border: 5px solid rgb(172, 236, 230);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -moz-animation: spinoff .5s infinite linear;
    -webkit-animation: spinoff .5s infinite linear;
}
@-moz-keyframes spin {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(-360deg); }
}
.actions{
    float: left;
    width: 60%;
    position: relative;
    height: 100%;
}
.actions .cont{
    padding: 20px 40px;
    position: relative;
    height: 100%;
}
.actions .title {
    text-align: center;
    height: 88px;
}
h1#author {
    font-size: 18px;
}
.actions .meths .stand > div ,
.actions .meths .athM > div {
    float: left;
    cursor: pointer;
    font-size: 35px;
    margin: 5px 10px;
    color: rgba(172, 236, 230, 0.39);;
}
.actions .meths .athM {
    padding-top: 10px;
}
.actions .meths .athM > div {
    font-size: 23px;
    position: relative;
}
.actions .meths .stand > div:hover ,
.actions .meths .athM > div:hover {
    color: #000000;
}
div#play {
    min-width: 35px;
    text-align: center;
}
#vol:hover #volClD,
#vol:hover div#volPCD{
    background-color: #000000;
}
#vol:hover div#volPC{
    background-color: rgba(67, 67, 76, 0.51);
}
#vol *,
#sd *,
.times *{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#volCl{
    position: absolute;
    width: 100%;
    height: 130%;
    z-index: 2;
}
#volPC{
    position: absolute;
    width: 4px;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    background-color: transparent;
    overflow: hidden;
}
div#volPCD {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgba(172, 236, 230, 0.39);
}
div#volP {
    position: absolute;
    width: 22px;
    right: 0;
    height: 30px;
    top: -36px;
    display: none;
}
div#volClD {
    position: absolute;
    width: 10px;
    height: 4px;
    background-color: rgba(172, 236, 230, 0.39);;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
div#ciD_ {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #12AFA0;
    border-radius: 100%;
    top: -3px;
    pointer-events: none;
    left: -6px;
    -webkit-transition: transform  .1s ease;
    -moz-transition: transform .1s ease;
    -ms-transition: transform .1s ease;
    -o-transition: transform .1s ease;
    transition: transform .1s ease;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.sk{
    height: 110px;
}
.sK:hover #ciD_{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.sK:hover .progress{
    height: 7px;
}

.progress {
    position: absolute;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #acece6;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: height  .1s ease;
    -moz-transition: height .1s ease;
    -ms-transition: height .1s ease;
    -o-transition: height .1s ease;
    transition: height .1s ease;
    top: 0;
    bottom: 0;
    margin: auto;
}
.times{
    padding-top: 25px;
}
.slider {
    padding: 0 0 25px 0;
}
div#_r {
    position: relative;
    height: 7px;
}
span#popT {
    position: absolute;
    top: -22px;
    left: 55px;
    font-size: 10px;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 5px;
    color: #ffffff;
}
.times > span{
    font-weight: bold;
    font-size: 12px;
    padding: 5px 0;
}
#curr{
    float: left;
}
#full{
    float: right;
    color: #26a3fd;
}
.progress > #prP{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #12AFA0;
}
.progress > #prPS{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgba(18, 175, 160, 0.28);
}
#prev:after,
#play:after,
#next:after,
#prev:after,
#pause:after,
#stop:after,
#vol:after{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#prev:after{
    content: "\f04a";
}
#play[data-status='0']:after{
    content: "\f04b";
}
#play[data-status='1']:after{
    content: "\f04c";
}
#next:after{
    content: "\f04e";
}
#stop:after{
    content: "\f04d";
}
#vol{
    width: 22px;
    text-align: center;
}
#vol[data-speak="1"]:after{
    content: "\f028";
}
#vol[data-speak="0"]:after{
    content: "\f026";
}
div#prev, div#next {
    font-size: 26px;
    padding-top: 5px;
}
.meths{
    /*padding-top: 20px;*/
}
.meths .stand {
    float: left;
}

.meths .athM {
    float: right;
}











.row.full{
    height: 100vh;
    background-color: #000000;
}
.row{
    position: relative;
}
.row:after,
.cl:after{
    content: '';
    display: block;
    position: relative;
    clear: both;
}